<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--the value of the base-package attribute indicates which package needs to be scanned to find the @Component annotation-->
    <context:component-scan base-package="spring._1inversionControlAndDependencyInjection._3configurationFileUseAnnotation._1test">
    </context:component-scan>
<!--    <bean id="colorBean" class="spring._1inversionControlAndDependencyInjection._3configurationFileUseAnnotation._1test.Color">-->
<!--    </bean>-->
</beans>